<!DOCTYPE html>
<html lang="de">
<head th:replace="~{fragments.html :: header}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments.html :: mainNav}"></div>

        <div class="row">
            <div class="col">
                <h1 th:text="${title}"></h1>

                <form action="/save" method="post">

                    <input type="hidden" name="id" th:value="${user.id}">

                    <div class="mb-3">
                        <label for="firstname" class="form-label">Vorname</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" th:value="${user.firstname}">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Nachname</label>
                        <input type="text" name="lastname" id="lastname" class="form-control" th:value="${user.lastname}">
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Geburtsdatum</label>
                        <input type="date" name="birthdate" id="birthdate" class="form-control" th:value="${user.birthDate}">
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Gruppe</label>
                        <select name="" id="">
                            <option th:each="g : ${groups}" value="" th:text="${g.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info">Speichern</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>