<!DOCTYPE html>
<html lang="de">
<head th:replace="~{fragments.html :: header(${title})}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments.html :: mainNav('user')}"></div>

        <div class="row">
            <div class="col">
                <h1 th:text="${title}"></h1>

                <form action="/save" method="post" th:object="${user}">

                    <input type="hidden" th:field="*{id}">

                    <ul th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                        <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                    </ul>

                    <div class="mb-3">
                        <label for="firstname" class="form-label">Vorname</label>
                        <input type="text" th:field="*{firstname}" class="form-control">
                        <p th:if="${#fields.hasErrors('firstname')}" class="alert alert-danger" th:errors="*{firstname}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Nachname</label>
                        <input type="text" th:field="*{lastname}" class="form-control">
                        <p th:if="${#fields.hasErrors('lastname')}" class="alert alert-danger" th:errors="*{lastname}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Geburtsdatum</label>
                        <input type="date" th:field="*{birthDate}" class="form-control">
                        <p th:if="${#fields.hasErrors('birthDate')}" class="alert alert-danger" th:errors="*{birthDate}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Gruppe</label>
                        <select th:filed="*{group}" class="form-select">
                            <option th:each="g : ${groups}" th:value="${g.id}" th:text="${g.name}" th:selected="${g eq user.group}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info">Speichern</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>