<!DOCTYPE html>
<html lang="de">
<head th:replace="~{fragments.html :: header}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments.html :: mainNav}"></div>

        <div class="row">
            <div class="col">
                <h1 th:text="${title}"></h1>

                <a href="/groups/form" class="btn btn-info">Neu</a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="g : ${groups}">
                            <td th:text="${g.name}"></td>
                            <td>
                                <a th:href="@{'/groups/delete?id=' + ${g.id}}" class="btn btn-danger">Löschen</a>
                                <a th:href="@{'/groups/edit?id=' + ${g.id}}" class="btn btn-info">Bearbeiten</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>