<!DOCTYPE html>
<html lang="de">
<head th:replace="~{fragments.html :: header(${title})}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments.html :: mainNav('user')}"></div>

        <div class="row">
            <div class="col">
                <h1 th:text="${title}"></h1>

                <a href="/form" class="btn btn-info">Neu</a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>Geburtsdatum</th>
                            <th>Gruppe</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u : ${user}">
                            <td th:text="${u.firstname}"></td>
                            <td th:text="${u.lastname}"></td>
                            <td th:text="${u.birthDate}"></td>
                            <td th:text="${u.group}"></td>
                            <td>
                                <!-- /delete?id=123, delete/123 -->
                                <a th:href="@{'/delete?id=' + ${u.id}}" class="btn btn-danger">Löschen</a>
                                <a th:href="@{'/edit?id=' + ${u.id}}" class="btn btn-info">Bearbeiten</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>